*{
    padding: 0px;
    border: 0px;
}

    body{
    font-family: 'Poppins', sans-serif;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        
    }
    .navbars{
        display: flex;
        column-gap: 10px;
    }
    .navbars a{
        text-decoration: none;
        color: grey;
    }
    .navbars a:hover{
        text-decoration: none;
        color: black;
    }
    .sidenavbar{
        background-color: blue;
        width: 50%;
        height: 100%;
        position:fixed;
        top: 0%;
        left:0%;
        padding: 20px;
    
        color:aliceblue;
        
        display: none;
        
    transition: 2s;
    
        


    }
    .header{
        display: flex;
        justify-content: center;
        padding: 50px;
        gap: 50px;

    }
    .headers{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        
        background-color: black;
        color: white;
        
    }
    .service{
        padding-bottom: 10px;
    }

    .service1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .service2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:20px;
    }
    .service2 div{
        background-color: #f2f4f7;
    }
    .new{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .new1{
        position: relative;
        flex-basis: 20%;
    }
    .newa{
         display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        
        background-color:gray;
        color: white;
        position: absolute;
        top: 50%;
        left: 18%;
    }
    .final{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .search{
        border: solid black;
        padding:20px;
        width: 60vmax;

    }
    .sub{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        color: whitesmoke;
        background-color: black;
    }
    .footer{
        margin-top: 50px;
        padding: 40px;
        background-color: #1d232c;
        color:#f2f4f7;
        margin-bottom: 25px;

    }
    .product{
        
        margin-top: 20px;
    }
    #suma{
        width:80%;
        
        align-items: center;
        border:auto;
        display:flex;
        border-color: black;
        border: solid;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 60px;
        padding:10px;
        margin:auto;


    }
    #suma input{
border: none;
border-color: transparent;
width: 100%;
    }
    #suma input:focus{
        outline: none;
    }
    .dress{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
        
    }
    .imgg img{
        
        width:250px;
        height:300px;
        flex-basis: 40px;
        border-radius: 10px;
        
    }
    .f{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 150px;
        
color:hotpink;
transform: 2s;
padding: 0px;




    }
    .pin{
        display: flex;
        color: hotpink;
        align-items: center;
        justify-content: space-between;

    }

    .con{
        background-color: darkblue;
        padding:10px;
        

        
    }
    .for{
        color:white;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .for input{
        margin: 10px;
        padding:10px;
        border:solid black;

    }
        
      
    .buy button{
        background-color: white;
        color: rgb(171, 22, 22);
        border: #1d232c;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        margin:auto;
        margin-left: 40px;
    }
        
    
    
    

    .sidenavbars a{
        color:white;
        margin-bottom: 20px;

    }
    .sidenavbars a:hover{
        color: black;
        text-decoration: none;
    }
    .icons{
        display:none;
        margin-right: 50px;
    }
    @media screen and (max-width:700px){
        .icons{
            display: block;
        }
        .navbars{
            display: none;
        }
        .image{
            display: none;
        }
        .service1{
            display: none;
        }
        .service2{
            flex-direction: column;
        }
    }